body {
    max-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin: 0px 0px 0px 0px;

    font-family: sans-serif;
    background-color: black;
}

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
header {
    margin-top: 3vh;
    
    width: 80%;
    display: flex;
    align-items: center; /* center to fix*/

    height: 5vh;   
    border: black;
    border-style: solid;
}

nav {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content:flex-start;
    align-items: flex-end;
    flex-direction: row;


    color: white; 
    /* border: red;
    border-style: dashed; */
}

nav a {
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    color: white;

    margin: 0 2%;
    padding: 0 auto;
    font-size: clamp(2em, normal, 2vw);
    font-size: 1em;
    flex-shrink: 3;

    
    /* border: green;
    border-style:groove; */
}

nav a:hover {
    text-decoration: underline;
}

#directory-item-my-name {
    font-size: 20px;
    /* margin-bottom: 0;
    margin-right: 3vw; */
    padding-bottom: 0;
    margin-top: 0;

    
}

#directory-item-aboutme{
    color:#996A84;
}

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */

main {
    margin-top: .5vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    max-width: 100%;
    margin-bottom: 5vh;

    border: black;
    /* border: blue; */
    border-style: solid;


    /* background-color: #b2cacc; */
    /* background-color: #549966; */
    /* background-color: #996A84; */
    /* background-color: #006E63; */
    background-color: #549FA2;
    
    
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;

}

.mid-child, #encapsulation{ /* color only */
    /* background-color: #E6C59C; */
    /* background-color: #b2cacc; */
    /* background-color: #BAEEBA; */
    /* background-color: #766688; */
    /* background-color: #b2cacc; */
    /* background-color: #549966; */
    background-color: #88BB88;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
}


/* MIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLE */


.mid-child {
    display: inline-block;
    width: 60%;
    font-size: 16px;

    

    border: black;
    border-style: solid;

    /* height: 102.7vh; */
    margin: 1vh;
}


.mid-child .innertext {
    margin: 2%;

}

.thin-image {
    display: none;
    width: 90%;
}


/* LEFTRIGHTLEFTRIGHTLEFTRIGHTLEFTRIGHTLEFTRIGHTLEFTRIGHTLEFTRIGHTLEFTRIGHTLEFTRIGHTLEFTRIGHTLEFTRIGHT*/

.left-child, .right-child{
    display: flex;
    width: 20%;
    height: 70vh;
    /* flex-shrink: 2; */
    font-size: 14px;
}

.left-child ul, .right-child ul {
    margin: 1vh;
    padding: 0px 0px 0px 0px;

    /* height: 90vh; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.left-child .left-child-image, .right-child .right-child-image {
    display: flex;

    max-width: 90%;
    /* max-height: 40%; */


    border: black;
    border-style: solid;
}

.left-child #encapsulation, .right-child #encapsulation {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1vh;
    height: auto;
    max-width: 90%;

    border: black;
    border-style: solid;
}

.left-child .left-child-image-captions, .right-child .right-child-image-captions {
    display: flex;
    max-width: 90%;
    text-align: left;
    margin-top: 1vh;


    
    /* border: red;
    border-style: solid; */
}












/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    

    position: fixed;        
    bottom: 0;
    width: 80%;
    height: 5%;
    

    background-color: #996A84;
    border: black;
    /* border: blue; */
    border-style: solid;
   
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;

    
}













.footer-directory-icons {
    width: max(350px, 30%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 0px 0px 0px;
    margin-right: max(1.5%, 25px);
    /* border: 1px blue;
    border-style: solid;    */
}


.footer-directory-image {
    margin: 0 min(3%, 20px);
    /* margin-left: min(5%, 30px); */

    /* border: 1px red;
    border-style: solid; */
    
}





#github-logo {
    width: 2.6%;
    min-width: 31px; /* Need to change for if height decreases*/
    max-width: 40px;
}

#linkedin-logo {
    width: 2.6%;
    min-width: 31px; /* Need to change for if height decreases*/
    max-width: 40px;
}

#twitter-logo {
    width: 2.9%;
    min-width: 35px; /* Need to change for if height decreases*/
    max-width: 40px;
}

#spotify-logo {
    width: 2.7%;
    min-width: 35px; /* Need to change for if height decreases*/
    
    /* max-width: 40px; */
}


#scihub-logo {
    width: 2.7%;
    min-width: 37px; /* Need to change for if height decreases*/


    /* max-width: 40px; */
    /* border: 1px red;
    border-style: dashed; */
}











@media only screen and (max-width: 734px) {
    body {
        max-width:100%;
        align-items: center;
        /* border: 1px red;
        border-style: solid; */
        
    }
    header {
        /* background-color: orange; */
        /* min-width: 500px; */
        font-size: smaller;
    }


    main {
        /* min-width: 500px; */

    }
    .left-child{
        display: none;

        
    }
    .right-child{
        display: none;
    }
    .mid-child { /*the text item when things get small*/
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .thin-image {
        display: block;
        width: 90%;
    

    }
    footer {
        /* width: 80%; */
    }
    .footer-directory-icons {
        margin-right: min(5%, 30px);

    }
    
}





 
