body {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin: 0px 0px 0px 0px;

    font-family: sans-serif;
    background-color: black;
}

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
header {
    margin-top: 3vh;
    
    width: 80%;
    display: flex;
    align-items: center; /* center to fix*/

    height: 5vh;

    /* border: black;
    border-style: solid;
    background-color: #B4B2CC; */
    


    

    
}

nav {
    height: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: flex-end;
    flex-direction: row;
    width: 100%;


    color: white;
    /* border: 1px red;
    border-style: solid;  */
    
   
}



nav a {
    text-decoration: none;
    color: white;
    margin: 0vh 2ch;
    
}

nav a:hover {
    text-decoration: underline;
}

#directory-item-my-name h2 {
    /* border: blue;
    border-style: dashed; */
    margin-bottom: 0vh;
    margin-right: 5ch;
    padding-bottom: 0vh;
    
}

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */

main {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* flex-wrap: nowrap; */
    
    max-width: 100%;
    margin-bottom: 5vh;

    background-color: red;
    border: black;
    border-style: solid;
}

/* MIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLE */

.mid-child {
    display: inline-block;
    width: 60%;
    font-size: 16px;

    background-color: #b2cacc;
    /* background-color: #b2bdcc; */

    border: black;
    border-style: solid;

    /* height: 102.7vh; */
    margin: 1vh;
}


.mid-child .innertext {
    margin: 2%;

}



/* LEFTRIGHTLEFTRIGHTLEFTRIGHTLEFTRIGHTLEFTRIGHTLEFTRIGHTLEFTRIGHTLEFTRIGHTLEFTRIGHTLEFTRIGHTLEFTRIGHT*/

.left-child, .right-child{
    display: flex;
    width: 20%;
    height: 90vh;
    flex-shrink: 2;
    font-size: 14px;

    /* border: 1px red;
    border-style: solid; */
}

.left-child ul, .right-child ul {
    /* background-color: #E6C59C; */
    /* border: black;
    border-style: solid; */

    margin: 1vh;
    padding: 0px 0px 0px 0px;

    /* height: 90vh; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.left-child .left-child-image, .right-child .right-child-image {
    display: flex;

    max-width: 90%;
    /* max-height: 40%; */


    border: black;
    border-style: solid;
}

.left-child #encapsulation, .right-child #encapsulation {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1vh;
    height: 70vh;
    max-width: 90%;

    background-color: #b2cacc;
    border: black;
    border-style: solid;
}

.left-child .left-child-image-captions, .right-child .right-child-image-captions {
    display: flex;
    max-width: 90%;
    text-align: left;
    margin-top: 1vh;


    
    /* border: black;
    border-style: solid; */
}












/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

footer{
    display: flex;
    align-items: center;
    

    position: fixed;        
    bottom: 0;
    width: 80%;
    height: 5%;
    
    background-color: #B4B2CC;
    border: black;
    border-style: solid;
}


.footer-directory-list {
    display: flex;
    width: 100%;
    justify-content: flex-start;
      
}










.footer-directory-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 0px 0px 0px;
    margin-right: min(5%, 30px);
    /* border: 1px blue;
    border-style: solid;    */
}


.footer-directory-image {
    margin: 0px 0px 0px 0px;
    margin-left: min(5%, 30px);

    /* border: 1px red;
    border-style: solid; */
    
}





#github-logo {
    width: 2.6%;
    min-width: 31px; /* Need to change for if height decreases*/
    max-width: 40px;
}

#linkedin-logo {
    width: 2.6%;
    min-width: 31px; /* Need to change for if height decreases*/
    max-width: 40px;
}

#twitter-logo {
    width: 2.9%;
    min-width: 35px; /* Need to change for if height decreases*/
    max-width: 40px;
}

#spotify-logo {
    width: 2.7%;
    min-width: 35px; /* Need to change for if height decreases*/
    
    /* max-width: 40px; */
}


#scihub-logo {
    width: 2.7%;
    min-width: 37px; /* Need to change for if height decreases*/
    margin-top: 2px;
    margin-left: min(5%, 25px)
    /* max-width: 40px; */
    /* border: 1px red;
    border-style: dashed; */
}






 
