body {
    max-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin: 0px 0px 0px 0px;

    font-family: sans-serif;
    background-color: black;
}

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
header {
    margin-top: 3vh;
    min-height: 30px;
    width: 80%;
    display: flex;
    align-items: center; /* center to fix*/

    height: 5vh;
    border: black;
    border-style: solid;

   
}

nav {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content:flex-start;
    align-items: flex-end;
    flex-direction: row;


    color: white;
    /* border: 1px red;
    border-style: solid;  */
    
   
}



nav a {
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    color: white;

    margin: 0 2%;
    padding: 0 auto;
    font-size: clamp(2em, normal, 2vw);
    font-size: 1em;
    flex-shrink: 3;
    
}

nav a:hover {
    text-decoration: underline;
}

#directory-item-my-name {
    font-size: 20px;
    /* margin-bottom: 0vh;
    margin-right: 5ch; */
    padding-bottom: 0;
    margin-top: 0;
    
}

#directory-item-my-name{
    color:#996A84;
}

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */

main {
    margin-top: .5vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    /* flex-wrap: nowrap; */
    
    max-width: 100%;
    margin-bottom: 5vh;
    background-color: #549FA2;

    border-radius: 0.8vh;
    
    /* border: red;
    border-style: solid; */
}

.main-image {
    display: flex;
    max-width: 100%;
    border: black;
    border-style: solid;


}

.main-text {
    display: flex;
    /* background-color: #b2cacc; */
    /* border: blue;
    border-style: dashed; */
}











/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    min-height: 40px;
    position: fixed;        
    bottom: 0;
    width: 80%;
    height: 5%;
    

    background-color: #996A84;
    border: black;
    /* border: blue; */
    border-style: solid;
   
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;

    
}













.footer-directory-icons {
    width: max(350px, 30%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 0px 0px 0px;
    margin-right: max(1.5%, 25px);
    /* border: 1px blue;
    border-style: solid;    */
}


.footer-directory-image {
    margin: 0 min(3%, 20px);
    /* margin-left: min(5%, 30px); */

    /* border: 1px red;
    border-style: solid; */
    
}





#github-logo {
    width: 2.6%;
    min-width: 31px; /* Need to change for if height decreases*/
    max-width: 40px;
}

#linkedin-logo {
    width: 2.6%;
    min-width: 31px; /* Need to change for if height decreases*/
    max-width: 40px;
}

#twitter-logo {
    width: 2.9%;
    min-width: 35px; /* Need to change for if height decreases*/
    max-width: 40px;
}

#spotify-logo {
    width: 2.7%;
    min-width: 35px; /* Need to change for if height decreases*/
    
    /* max-width: 40px; */
}


#scihub-logo {
    width: 2.7%;
    min-width: 37px; /* Need to change for if height decreases*/


    /* max-width: 40px; */
    /* border: 1px red;
    border-style: dashed; */
}











@media only screen and (max-width: 734px) {
    body {
        max-width:100%;
        align-items: center;
        /* border: 1px red;
        border-style: solid; */
        
    }
    header {
        /* background-color: orange; */
        /* min-width: 500px; */
        font-size: smaller;
    }


   
    .left-child{
        display: none;

        
    }
    .right-child{
        display: none;
    }
    .mid-child { /*the text item when things get small*/
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
   
    .footer-directory-icons {
        margin-right: min(5%, 30px);

    }
    
}





 
