body {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin: 0px 0px 0px 0px;

    font-family: sans-serif;
    background-color: black;
}

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
header {
    margin-top: 3vh;
    
    width: 80%;
    display: flex;
    align-items: center; /* center to fix*/

    height: 5vh;

    /* border: black;
    border-style: solid;
    background-color: #B4B2CC; */
    


    

    
}

nav {
    height: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: flex-end;
    flex-direction: row;
    width: 100%;


    color: white;
    /* border: 1px red;
    border-style: solid;  */
    
   
}



nav a {
    text-decoration: none;
    color: white;
    margin: 0vh 2ch;
    
}

nav a:hover {
    text-decoration: underline;
}

#directory-item-my-name h2 {
    /* border: blue;
    border-style: dashed; */
    margin-bottom: 0vh;
    margin-right: 5ch;
    padding-bottom: 0vh;
    
}

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */

main {
    width: 80%;
    margin-bottom: 25vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* flex-wrap: nowrap; */
    
 
    margin-top: 0vh;
    width: 80%;



    border: purple;
    border-style: solid;
}


.mid-child {

    width: 100%;
    font-size: 16px;

    background-color: #b2cacc;
    /* border: red;
    border-style: solid; */
    
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    
}


.mid-child .interest-list {
    list-style: none;

}











/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

footer{
    display: flex;
    align-items: center;
    

    position: fixed;        
    bottom: 0;
    width: 80%;
    height: 5%;
    
    background-color: #B4B2CC;
    border: black;
    border-style: solid;
}


.footer-directory-list {
    display: flex;
    width: 100%;
    justify-content: flex-start;
      
}










.footer-directory-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 0px 0px 0px;
    margin-right: min(5%, 30px);
    /* border: 1px blue;
    border-style: solid;    */
}


.footer-directory-image {
    margin: 0px 0px 0px 0px;
    margin-left: min(5%, 30px);

    /* border: 1px red;
    border-style: solid; */
    
}





#github-logo {
    width: 2.6%;
    min-width: 31px; /* Need to change for if height decreases*/
    max-width: 40px;
}

#linkedin-logo {
    width: 2.6%;
    min-width: 31px; /* Need to change for if height decreases*/
    max-width: 40px;
}

#twitter-logo {
    width: 2.9%;
    min-width: 35px; /* Need to change for if height decreases*/
    max-width: 40px;
}

#spotify-logo {
    width: 2.7%;
    min-width: 35px; /* Need to change for if height decreases*/
    
    /* max-width: 40px; */
}


#scihub-logo {
    width: 2.7%;
    min-width: 37px; /* Need to change for if height decreases*/
    margin-top: 2px;
    margin-left: min(5%, 25px)
    /* max-width: 40px; */
    /* border: 1px red;
    border-style: dashed; */
}






 
