body {
    display: flex;
    flex-direction:column;
    margin: 0px 0px 0px 0px;
    background-image: none;
    ;

}

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
header {
    display: flex;
    align-items: center;
    height: 5%;
    width: 100%;
    position: fixed;
    top:0;
    background: #fff;
    border: red;
    border-style: solid;
    

    
}

nav {
    width: 100%;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    margin: 0px auto 0px auto;
    padding-bottom: 0%;


    /* border: 1px green;
    border-style: solid;  */
    
   
}


.name {
    display: inline-flex;
    
    margin: 0px -10px 0px 0px;
    color: red;
}



.directory-list {
    display: flex;
    margin: 0px 0px 0px 0px;
    /* border: blue;
    border-style: solid; */
}

.directory-item {
    color: black;
    display: flex;
    margin: 0px 10px;
}



/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
main {
    margin-top: 3%;
    padding:0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;


    border: blue;
    border-style: solid;
}


/* .left-child {
    display: inline-block;
    width: 20%;
    height: 100%;
    flex-shrink: 2;

    border:  green;
    border-style: solid;
} */




.mid-child {
    display: inline-block;
    width: 59%;
    height: 100%;
    flex-shrink: 1;

    border: green;
    border-style: solid;
}

/* .right-child {
    display: inline-block;
    width: 20%;
    height: 100%;
    flex-shrink: 2;

    border: green;
    border-style: solid;
} */






/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* footer {
    display: flex;
    height: auto;
    align-items: stretch;
    flex-wrap: wrap;
    border: black;
    border-style: solid;
}

.innertext {
    display: flex;
    align-content: center;
    margin: 5px;
}
 */

/* footer{
    width: 100%;
    height: 5%;
    position: fixed;        
    padding: 10px 0;
    background: #fff;
    color: #fff;
    bottom: 0;
}

.bottom-child {
    width: 100%;
    display: flex;
    border: red;
    border-style: solid;
}

.footer-directory-list {
    display: flex;
    margin-right: 0px ;
}

.footer-directory-item {
    color: black;
    display: flex;
    margin: 0px 10px;
}





.footer-text {
    display: flex;
    align-content: center;
    margin: 5px;
    border: purple;
    border-style: solid;
    color: black;
}

 */
